#header {
background-color:#5F5FDC; 
color: white;


padding-left: 10px; 
padding-right: 5px;
width: 100%;
}

#content {
  text-align: center;
  margin-top: 10%;
  margin-left: 40%; 
  float: center;
  width: 25%;
  height: 25%;
  background-color:tan; 
}

#bander {
  background-color: #5F5FDC;
  color: white;
  margin-bottom: 10%;
}